* {
    /* resetar elementos */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
}

header {
    height: 100px;
    background-color: #000;
    color: #FFF;
}

.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

.logoimg {
    width: 80px;
    height: 80px;
    background-color: #B28756;
    border-radius: 40px;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul, 
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    height: 100px;
    align-items: center;
    border-bottom: 5px solid #000;
}

.menu li a:hover,
.menu .active a {
    color: #ddd;
    border-bottom: 5px solid #B28756;
}

.button,
.button-dark {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 30px;
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 15px;
}

.button {
    background-color: #B28756;
}

.button-dark {
    background-color: #333;
}
.button-dark:hover {
    background-color: #B28756;
}

.banner {
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}

.banner .sliders {
    width: 1000vw;
    height: 100%;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}

.banner .slidearea {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner h1,
.banner h2,
.banner a {
    color: #FFF;
    text-transform: uppercase;
}

.banner h1 {
    font-size: 50px;
}

.banner h1 span {
    color: #B28756;
    text-align: center;
    display: block;
}

.banner h2 {
    margin-top: 20px;
}

.banner .sliders-pointers {
    width: 100%;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.banner .pointer.active {
    background-color: #B28756;
}


.default {
    padding-top: 50px;
    padding-bottom: 50px;
}

.default .section-title,
.default .section-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.default .section-title {
    font-size: 20px;
}

.default .section-desc {
    font-size: 12px;
    color: #CCC;
    margin-top: 10px;
    margin-bottom: 40px;
}

.default .section-body {
    max-width: 1140px;
    margin: auto;
}

.default.white {
    background-color: #FFF;
}

.default.light {
    background-color: #F7F7F7;
}

.default.white .section-title,
.default.white .section-body,
.default.light .section-title,
.default.light .section-body {
    color: #000;
}

.default.dark {
    background-color: #000;
}

.default.dark .section-title,
.default.dark .section-body {
    color: #FFF;
}

.border {
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}



/* CSS de áreas específicas */
.section-aboutus {
    display: flex;
}

.section-aboutus--left {
    flex: 1;
}

.section-aboutus--left p {
    font-size: 14px;
    line-height: 25px;
}

.section-aboutus--right {
    width: 500px;
    text-align: right;
}

.section-aboutus--right img {
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}


.section-services {
    display: flex;
}

.section-service {
    flex: 1;
    text-align: center;
    padding: 15px;
    border-right: 1px solid #333;
}
.section-service:first-child {
    border-left: 1px solid #333;
}

.section-service img {
    max-height: 60px;
}

.section-service h4 {
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 10px;

}

.section-service p {
    color: #999;
    font-size: 13px;
}


.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-projects--filters {
    border: 1px solid #CCC;
    background-color: #EEE;
    color: #555;
    padding: 0px 15px;
    border-radius: 20px;
}

.section-projects--filters ul,
.section-projects--filters li {
    list-style: none;
}

.section-projects--filters li {
    padding: 10px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #CCC;
    cursor: pointer;
    border-bottom: 3px solid #EEE;
}
.section-projects--filters li:first-child {
    border-left: none;
}

.section-projects--filters li:hover,
.section-projects--filters li.active {
    border-bottom: 3px solid #B28756;
}

.section-projects--photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-projects--photo {
    width: 280px;
}

.section-projects--photoarea {
    margin: 10px;
    width: 260px;
    height: 160px;
}

.section-projects--photoarea img {
    width: inherit;
    height: inherit;
}

.section-projects--photoinfo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.section-projects--photoinfo h5 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.section-projects--photoarea:hover .section-projects--photoinfo {
    display: flex;
    cursor: pointer;
}

.bg-team {
    background-image: url('../images/bg-team.jpg');
    background-size: cover;
    background-position: center;
    padding: 0;
}

.section-team-area {
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-team {
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}

.section-team .sliders {
    width: 1000vw;
    height: 100%;
}

.section-team .slide {
    width: 280px;
    min-height: 300px;
    margin-right: 20px;
    height: 100%;
    display: inline-block;
    background-color: #FFF;
}

.section-team .slidearea {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    padding: 30px;
}

.section-team-area .sliders-pointers {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.section-team-area .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.section-team-area .pointer.active {
    background-color: #B28756;
}

.section-team--avatar {
    width: 150px;
    height: auto;
}

.section-team--name {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
    margin-top: 20px;
}

.section-team--role {
    font-size: 14px;
    color: #999;
    margin-top: 5px;
}

.section-team--social {
    display: flex;
    margin-top: 20px;
}

.section-team--social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 13px;
    margin-right: 5px;
    background-color: #CCC;
}
.section-team--social a:hover {
    background-color: #B28756;
}

.section-team--social a:last-child {
    margin-right: 0;
}

.section-clients {
    overflow: hidden;
    max-width: 800px;
    margin: auto;
}


.section-clients .sliders {
    width: 1000vw;
    height: 100%;
}

.section-clients .slide {
    width: 800px;
    min-height: 300px;
    height: 100%;
    display: inline-block;
}

.section-clients .slidearea {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    padding: 30px;
}

.section-clients--avatar {
    width: 150px;
    height: auto;
}

.section-clients--name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.section-clients--role {
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
}

.section-clients--quote {
    margin-top: 25px;
    margin-bottom: 10px;
}

.section-clients p {
    font-size: 14px;
    line-height: 25px;
    color: #555;
    text-align: center;
}

.section-clients .sliders-pointers {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.section-clients .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.section-clients .pointer.active {
    background-color: #B28756;
}


.section-main-clients {
    display: flex;
    height: 160px;
    justify-content: center;
    align-items: center;
}

.section-main-clients--logo {
    margin: 0 50px;
}


.section-price {
    margin: auto;
    max-width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-price--card {
    flex: 1;
    margin-right: 30px;
    padding: 25px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-price--card:last-child {
    margin-right: 0;
}

.card-title {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

.card-price {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.card-span,
.card-spec {
    color: #999;
    font-weight: 600;
}

.card-span {
    text-transform: uppercase;
    font-size: 9px;
    margin-bottom: 15px;
}

.card-spec {
    font-size: 10px;
}

.card-spec-separation {
    width: 7px;
    height: 1px;
    background-color: #999;
    margin: 5px 0;
}



.section-products {
    overflow: hidden;
    max-width: 1000px;
    margin: auto;
}


.section-products .sliders {
    width: 1000vw;
    height: 100%;
}

.section-products .slide {
    width: 1000px;
    min-height: 300px;
    height: 100%;
    display: inline-block;
}

.section-products .slidearea {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    padding-top: 30px;
}

.product-area {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.product-img,
.product-feature {
    flex: 1;
}

.product-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img img {
    height: 90%;
}

.product-feature {
    padding-left: 20px;
}

.product-feature li:not(.check) {
    list-style-type: "— ";
    margin-left: 20px;
}

.product-feature--item {
    width: 100%;
}

.product-feature--item::before {
    float: left;
    position: relative;
    content: "";
    background-image: url("../images/check.png");
    background-size: cover;
    width: 26px;
    height: 23px;
    margin-left: -50px;
}

.product-feature--title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    color: #000;
}

.product-feature--item {
    font-size: 12px;
    color: #999;
    line-height: 23px;
    margin-bottom: 25px;
}

.product-feature--item ul {
    margin-top: 5px;
}

.product-feature--item ul li {
    text-transform: uppercase;
}


.section-products .sliders-pointers {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.section-products .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.section-products .pointer.active {
    background-color: #B28756;
}

.section-products--button {
    display: flex;
    justify-content: center;
}


.section-facts {
    display: flex;
}

.section-fact {
    flex: 1;
    text-align: center;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.section-fact--up {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.section-fact--down {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.section-fact--number {
    font-size: 32px;
    font-weight: bold;
    color: #B28756;
}

.section-fact--detail {
    display: inline-block;
    height: 3px;
    width: 15px;
    margin-top: 5px;
    background-color: #999;
}

.section-fact h4 {
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 10px;
}

.section-fact p {
    color: #999;
    font-size: 13px;
}


.section-social {
    width: 100%;
}

.section-social-area {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70px;
    width: 100%;
    max-width: 720px;
    margin: auto;
}

.section-social--label,
.social-media {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    color: #CCC;
    text-transform: uppercase;
}

.section-social--label {
    padding-left: 40px;
    padding-right: 40px;
}

.section-social--label img {
    padding-right: 15px;
}

.section-social--medias {
    display: flex;
}

.social-media {
    font-size: 10px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
}

.social-media--img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.social-media--img.twitter {
    background-color: #33C4F0;
}

.social-media--img.linkedin {
    background-color: #117CB4;
}

.social-media--img.facebook {
    background-color: #326195;
}

.social-media--img.googleplus {
    background-color: #E84138;
}

.social-media--img.pinterest {
    background-color: #B51D2C;
}

.social-media--numbers {
    padding: 0 5px;
}


.section-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-contact-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 550px;
}

.line {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.line > input {
    width: calc(50% - 10px);
}

.line:nth-child(2) > input {
    width: 100%;
    margin-bottom: 30px;
}

.line textarea {
    width: 100%;
    resize: none;
    height: 40px;
}

.section-contact-area input,
.section-contact-area textarea {
    padding: 10px 0;
    border: none;
    background-color: #F7F7F7;
    border-bottom: 2px solid #aaa;
    outline: none;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.section-contact-area input::placeholder,
.section-contact-area textarea::placeholder {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #aaa;
}


.section-map {
    background-image: url('../images/mapa.jpg');
    filter: grayscale(100%);
    background-size: cover;
    background-position: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-map--area {
    width: 100vw;
    max-width: 1140px;
    margin: auto;
}

.section-map--info {
    width: 50%;
    padding: 30px;
    background-color: #FFF;
    color: #777;
}

.section-map--info-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 12px;
}

.section-map--info-item-img {
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-right: 15px;
    background-color: #AAA;
    border-radius: 15px;
}

.section-map--info-item-img img {
    width: 16px;
    height: auto;
}