* {
    /* resetar elementos */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
}

header {
    height: 100px;
    background-color: #000;
    color: #FFF;
}

.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

.logoimg {
    width: 80px;
    height: 80px;
    background-color: #B28756;
    border-radius: 40px;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul, 
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    height: 100px;
    align-items: center;
    border-bottom: 5px solid #000;
}

.menu li a:hover,
.menu .active a {
    color: #ddd;
    border-bottom: 5px solid #B28756;
}


.button {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 30px;
    background-color: #B28756;
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 20px;
}

.banner {
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}

.banner .sliders {
    width: 1000vw;
    height: 100%;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}

.banner .slidearea {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner h1,
.banner h2,
.banner a {
    color: #FFF;
    text-transform: uppercase;
}

.banner h1 {
    font-size: 50px;
}

.banner h1 span {
    color: #B28756;
    text-align: center;
    display: block;
}

.banner h2 {
    margin-top: 20px;
}

.banner .sliders-pointers {
    width: 100%;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.banner .pointer.active {
    background-color: #B28756;
}


.default {
    padding-top: 50px;
    padding-bottom: 50px;
}

.default .section-title,
.default .section-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.default .section-title {
    font-size: 20px;
}

.default .section-desc {
    font-weight: 12px;
    color: #CCC;
    margin-top: 10px;
    margin-bottom: 40px;
}

.default .section-body {
    max-width: 1140px;
    margin: auto;
}

.default.light {
    background-color: #F7F7F7;
}

.default.light .section-title,
.default.light .section-body {
    color: #000;
}

.default.dark {
    background-color: #000;
}

.default.dark .section-title,
.default.dark .section-body {
    color: #FFF;
}



/* CSS de áreas específicas */
.section-aboutus {
    display: flex;
}

.section-aboutus--left {
    flex: 1;
}

.section-aboutus--left p {
    font-size: 14px;
    line-height: 25px;
}

.section-aboutus--right {
    width: 500px;
    text-align: right;
}

.section-aboutus--right img {
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}


.section-services {
    display: flex;
}

.section-service {
    flex: 1;
    text-align: center;
    padding: 15px;
    border-right: 1px solid #333;
}
.section-service:first-child {
    border-left: 1px solid #333;
}

.section-service img {
    max-height: 60px;
}

.section-service h4 {
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 10px;

}

.section-service p {
    color: #999;
    font-size: 13px;
}


.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-projects--filters {
    border: 1px solid #CCC;
    background-color: #EEE;
    color: #555;
    padding: 0px 15px;
    border-radius: 20px;
}

.section-projects--filters ul,
.section-projects--filters li {
    list-style: none;
}

.section-projects--filters li {
    padding: 10px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #CCC;
    cursor: pointer;
    border-bottom: 3px solid #EEE;
}
.section-projects--filters li:first-child {
    border-left: none;
}

.section-projects--filters li:hover,
.section-projects--filters li.active {
    border-bottom: 3px solid #B28756;
}

.section-projects--photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-projects--photo {
    width: 280px;
}

.section-projects--photoarea {
    margin: 10px;
    width: 260px;
    height: 160px;
}

.section-projects--photoarea img {
    width: inherit;
    height: inherit;
}

.section-projects--photoinfo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.section-projects--photoinfo h5 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.section-projects--photoarea:hover .section-projects--photoinfo {
    display: flex;
}